body{
    background-image: url(https://media.giphy.com/media/XreQmk7ETCak0/giphy.gif);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
}